.head{
	color: #550312;
	font-family: 'Poppins';
	font-weight: 600;
	position: relative;
	display: block;
	width: 200px;
	margin: 50px 0 0 0;
}
.head::after {
	content: "";
	position: absolute;
	bottom: 10;
	left: 50px;
	width: 50%;
	height: 10px;
	background-color: #FFBE41;
	right: 0;
	margin: 0 auto;
	display: block;
	border-radius: 12px;
}
.catalog{
	display: flex;
	justify-content: center;
	height: 100%
}
.menu{
	display: flex;
	justify-content: center;
	width: 1300px;
	flex-wrap: wrap;
	margin-top: 100px;

	
}
.buy_btn{
	width: 100px;
	height: 50px;
	border: #550312 2px solid;
	border-radius: 50px;
	background-color: transparent;
	color: #550312;
	font-family: 'Poppins';
	font-weight: 600;
	margin-top: 15px;
}

.buy_btn:hover{
	animation: orderAnim 0.5s;
	background-color:#550312 ;
	color: #FFFDF1;

}

@keyframes orderAnim {
	from{
		background-color: transparent;
		color: #550312;
	}
	to{
		background-color:#550312 ;
		color: #FFFDF1;
	}
}
