.input{
	background: #FFFDF1;
	border: 1px solid #550312;
	box-shadow: inset -25px -25px 45px rgba(255, 252, 233, 0.8), inset 26px 26px 48px #E5D8D0;
	border-radius: 50px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #804D4D;
	padding: 20px;
	outline: none;
}
.input::placeholder {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #804D4D;
  }


.contacts{
	display: flex;
	flex-direction: column;
	padding: 0 3% 0 3%;
	height: 100%;
}

.top{
	height: 10%;
	display: flex;
	align-items: center;
	margin-top: 5%;
}

.bottom{
	display: flex;
	height: 85%;
}

.left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	padding-left: 3%;
}
.left::before {
	content: "";
	position: absolute;
	transform: rotate(90deg);
	bottom: 51%;
	left: -0.5%;
	width: 120px;
	height: 17px;
	background-color: #FFBE41;
	display: block;
	border-radius: 12px;
}
.left h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 43px;
	color: #550312;
}
.btmWrp{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left, .right span{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
.left > *{
	width: 500px;
	margin-top: 30px;
}
.right > *{
	width: 500px;
	margin-top: 25px;

}

.right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	padding-left: 3%;
}
.right h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 43px;
	color: #550312;
}


.right::before {
	content: "";
	position: absolute;
	transform: rotate(90deg);
	bottom: 50%;
	left: 44%;
	width: 130px;
	height: 18px;
	background-color: #550312;
	display: block;
	border-radius: 12px;
}
.linkBar{
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.linkBar > *{
	margin-top: 10px;
	width: 65px;
	height: 65px;
	background-color: #550312;
	border-radius: 50px;
}