
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:wght@400;500;600&display=swap');


::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #FFFDF1; 
  }
 
  ::-webkit-scrollbar-thumb {
	background: #FFAF14; 
	border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #bb8211; 
  }


html, body{
	background-color: #FFFDF1;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
}
main{
	padding: 0 5% 0 5%;
	height: 89%;
	position: relative;
}

.app{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: #550312;

}
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	position: relative;
	z-index: 2;

}

.navbar-bg{
	background: linear-gradient( #FFAF14 100%, #FFFDF1 0%);
	clip-path: polygon(44% 0, 100% 0%, 100% 100%, 50% 100%); 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}
.navbar-link{
	position: relative;
	color: #550312;
	font-family: 'Poppins';


}
.navbar-link_active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #550312;
	right: 0;
	margin: 0 auto;
	display: block;
	animation: underline 1s ease ;
	

}
.navbar-logo{
	font-family: 'Lacquer', cursive;
	color: #550312;
	font-size: 37px;
	z-index: 2;

}


footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 10px ;
	height: 11%;
	background-color: #55031234;
	position: absolute;
	bottom: 0 ;
	width: 98.9%
}

footer img:nth-child(1){
	width: 500px;
	height: 100px;
}
footer img:nth-child(2){
	width: 100px;
	height: 50px
}

@keyframes underline {
	from {width: 0}
	to {width: 100%}
  }

